/* 主页半透明度 */
/* .layout_page {
    opacity: 0.9;  */
    /* background: rgba(255,255,255,.3); */
  /* } */

/* 所有背景（包括侧边栏、首页卡片、文章页、页面页等） */
#aside-content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
/* #aside_content .card-widget,#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post{ */
    /* 以下代表白色透明度为0.8 */
    background: rgba(255,255,255,.8);
}
  /* 取消页脚背景 */
  /* #footer {
    background: none;
  } */
  
  /* 取消banner背景 */
  /* #page-header { */
    /* 采用透明的方式取消，最后一个0表示透明 */
    /* background-color: rgba(255, 255, 255, 0);
  } */

  /* 滚动条优化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #ec29f3;
  }